
body {background-color: #f2f2f2;}
.backgroundRO{font-size:130px; font-weight:bolder; position: absolute ; z-index: -1;
    left: 30px; color: rgba(234, 178, 81,8%); }
.container{margin-left: 344px; position: absolute; top: 8px;}
.container ul {
    list-style:none;
    padding:0;
    margin:0; }
.container li{position:relative;}
.container a {
    display:block;
    padding:3px 12px;
    height:24px;
     
    text-decoration:none;
    white-space:nowrap;
    background:#fff;
    color:#5a6063; }
.container a:hover{
    background:#c0c0c0;
    color:#fff;}
.menu {
     position:relative;
    }
    .menu > li{
    float:left;
    margin-right:4px;
    border:1px solid #fafafa;
    }
    .sub-menu, .sub-sub-menu{
    border:1px solid rgb(250, 250, 250);display: none;
    }
    .sub-menu li{border-top:1px solid #fafafa;}
     
    .menu > li:hover .sub-menu{display: block;}
    .sub-menu > li:hover .sub-sub-menu{display: block; position: abrsolute; left: 100%; top:0px;}

div h2 {margin-left: 20px;font-size:35px; font-family: Andalus; color:#283411; }
h1 {font-weight:bolder; font-size:50PX; position: relative;  margin-left: 915PX;
     top: 93PX; text-align: center; color: #131907;
     text-shadow: -9px 7px 5px  #792800;
     font-family: 'Courier New', Courier, monospace;}    

label {margin-left:100px; height:112px;  }   

.divvv{position: absolute; background-image:url(library-g7d13d630e_1920.jpg); background-color:rgb(250, 250, 250);
     width:1348px; height:720px; background-size: cover; background-repeat: no-repeat; margin: -8px;}
p {font-size:xx-large; color: rgb(220, 104, 27); font-weight: bolder; text-align:left;}

.round {border:2px solid rgb(220, 104, 27) ; text-align: center; font-weight: bold; position: absolute;
      background-color: #fafafa; width:70px; height:40px; border-radius: 50px; padding: 30px 16px;
    font-size: large;}
#move1{left: 125px;}
#move2{left: 250px;}
#move3{left: 375px;}
#move4{left: 500px;}
#move5{left: 625px;}
#move6{left: 750px;} 
#move7{left: 875px;} 
#move6{left: 750px;}    

.tasnif{position: absolute; width: 1100px; height: 70px; font-size: xx-large; background-color: rgb(173, 85, 47); 
color: #fafafa; text-align: center; top: 1000px; margin-left:200px; padding-top: 35px; }
.book {position: absolute; top: 1150px; margin-left:200px; width: 1100px; height: 600px ; 
 }
#book1{position: absolute; top: 1880px;}
#book2{position: absolute; top: 2610px;}
#book3{position: absolute; top: 3340px;}
.father{
    width: 250px;
    height: 500px;
    position: absolute;
    margin-left: 30px;
    box-shadow: -40px 40px 45px  rgb(173, 85, 47);

    
 }
.pics {position: relative; width: 250px; height: 350px; margin-left:-8px ;}
.para{position: relative ; width: 100%; height: 150px; overflow: scroll;
font-size: medium; color: black; text-align: right;}


.annimation
{
   position: relative;
   -webkit-animation: movingimage linear 10s 1s 2 alternate;
   -moz-animation: movingimage linear 10s 1s 2 alternate;
   animation: movingimage linear 10s 1s 2 alternate;
}
@-webkit-keyframes movingimage 
{
   0%   {opacity: 0; left: 50px; top: 0px;}
   25%  {opacity: 1; left: 0px; top: 50px;}
   50%  {opacity: 0; left: 50px; top: 100px;}
   75%  {opacity: 1; left: 100px; top: 50px;}
   100% {opacity: 0; left: 50px; top: 0px;}
}
@-moz-keyframes movingimage 
{
   0%   {opacity: 0; left: 50px; top: 0px;}
   25%  {opacity: 1; left: 0px; top: 50px;}
   50%  {opacity: 0; left: 50px; top: 100px;}
   75%  {opacity: 1; left: 100px; top: 50px;}
   100% {opacity: 0; left: 50px; top: 0px;}
}
@keyframes movingimage
{
   0%   {opacity: 0; left: 50px; top: 0px;}
   25%  {opacity: 1; left: 0px; top: 50px;}
   50%  {opacity: 0; left: 50px; top: 100px;}
   75%  {opacity: 1; left: 100px; top: 50px;}
   100% {opacity: 0; left: 50px; top: 0px;}
}



.endDiv {
    position: absolute;
    background-image: url(Screenshotgray.png),url(Screenshot.png) ;
            background-position: bottom right, 100% center;
            background-origin: border-box, content-box;
            background-repeat: no-repeat, repeat;

    position: absolute; 
    background-color: rgba(173, 85 ,47 , 93%);
    width:1340px; height:200px;
    top: 4300px;
}
body img {
    position: fixed;
    z-index: 3;
    bottom: -1px;
    left: 8px;
    width: 40px;
    height: 40px;
}      

.divtable{position: absolute; top: 1000px;left: 500px;}
.divtable p {position: relative; top: -35px;right: 150px; color:#792800 ; font-size: large;}
table{border: 6px outset rgb(220, 104, 27) ; text-align: right; 
width: 800px; height: 300px;  }
    
table tr th { font-size: xx-large; color: #792800 ; font-weight:bold ; position: relative; padding-right: 10px;}
table tr {border: 3px outset gray ;}
table td {border: 2px outset gray; font-weight:bold ; color: #792800; padding-right: 15px;}
table tfoot td {border: 2px outset gray; font-weight:bold ; color: #792800;position: relative;
     padding-left: 10px; text-align: left;}
table td a {text-decoration: none; color:#792800;}   
table td a:hover {text-decoration: underline; color:#5e57a5;}  

div div b a { position: relative; top:83px; left:1100px; text-decoration: none; color:#2d2a4f; }
div em a  { position:static; text-decoration: none; color:#2d2a4f; }
div div b a:hover{text-decoration:line-through;color:#fafafa ;  }
div em a:hover{text-decoration:line-through;color:#fafafa ;  }
.rozana {position:relative;  
    font-weight: bolder;
    font-size:35px; font-family: Andalus; color:#283411;}
#rozanaarabic{ left: 940px ; top:-5px; }
#rozanaenglish{ margin-left: 20px; }
   
div span img {width: 95px; height: 85px; position: absolute; top: 85px;
left: 227px;}
.whowe{position: absolute; left: 525px;top: 95px; width: 300px; 
    color: #2d2a4f; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; }
#whowe{ left: 515px;top: 40px; width: 300px; font-size: 35px; }